.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff,#e1ffea22 60%);
    display: flex;

}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 130px;
    line-height: 1.1;
    margin-top: 50px;
}
.hero-left h2{
    color: #090909;
    font-size: 23px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 50px;
    font-weight: 700;

}
.hero-hand-icon{
    display: flex;
    /* margin-top: 5px; */
    gap: 15px;
}
.hero-hand-icon img{
    width: 75px;
    height:65px;

}
.button-div button{
    background: rgb(212, 80, 32);
    color: white;
    border-radius: 40px;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.button-div img{
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    
}
/* .hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.hero-right img{
    width: 350px;
    height: 500px;
    margin-right: 100px;
} 